{% extends 'base.html' %} 
{% block content %}
<div class="home__shopping_lists">
    {% for shopping_list in shopping_lists %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">
              <a href="{% url 'shopping_list_detail' shopping_list.pk %}">{{shopping_list.list_name}}</a>
            </h3>
            <hr />
        </div>
    {% empty %} 
      <div class="playlist mb-5">"There are no shopping lists"</div>
    {% endfor %}
</div>
{% endblock %}