{% extends 'base.html' %} 
{% block content %}
<div class="home__shopping_lists">
    {% for shopping_list in shopping_lists %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">{{shopping_list.name}}</h3>
            <hr />

            {% for ingredient in playlist.ingredients.all %}

                <div class="song">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{ingredient.name}}</b></span>
                    <span>{{ingredient.type}}</span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">"There are no ingredients in this shopping list"</div>
    {% endfor %}
</div>
{% endblock %}